Here are the full list of actual cc variables, please inject as necessary
/* Extracted from <style id="css-variables"> ... html { ... } */
html {
  --borderradius-base: 4px;
  --config--main-border-base-color: #d8dffeff;
  --config--main-button-base-font-color: #1a1a1a;
  --config--main-button-base-font-family: "Open Sans","Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  --config--main-button-base-font-weight: 600;
  --config--main-button-base-radius: 3px;
  --config--main-button-base-texttransform: uppercase;
  --config--main-color-alert: #ed5937ff;
  --config--main-color-brand: #4eae5aff;
  --config--main-color-brand-secondary: #1e1e4fff;
  --config--main-color-contrast: #2aaae1;
  --config--main-color-day: #f0f2f6;
  --config--main-color-day-dark: #ededed;
  --config--main-color-day-light: #fff;
  --config--main-color-disabled: #f6f8faff;
  --config--main-color-dusk: #a7aeb5;
  --config--main-color-dusk-dark: #616a73;
  --config--main-color-dusk-light: #d5d7db;
  --config--main-color-highlighted: #B0DFF3;
  --config--main-color-info: #f79321ff;
  --config--main-color-night: #2b3346ff;
  --config--main-color-night-inverted: #f5f5f5;
  --config--main-color-night-light: #2b2b2b;
  --config--main-color-success: #3cb54aff;
  --config--main-font-base-lineheight: 1.5;
  --config--main-font-base-stack: "Open Sans","Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  --config--main-font-base-style: normal;
  --config--main-font-base-weight: normal;
  --config--main-font-secondary: "Open Sans","Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  --config--main-fonts: @font-face{ font-family:Roboto; src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/bold/Roboto-Bold-webfont.eot); src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/bold/Roboto-Bold-webfont.eot#iefix) format("embedded-opentype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/bold/Roboto-Bold-webfont.woff) format("woff"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/bold/Roboto-Bold-webfont.ttf) format("truetype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/bold/Roboto-Bold-webfont.svg#2dumbregular) format("svg"); font-style:normal; font-weight:700 } @font-face{ font-family:Roboto; src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/bolditalic/Roboto-BoldItalic-webfont.eot); src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/bolditalic/Roboto-BoldItalic-webfont.eot#iefix) format("embedded-opentype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/bolditalic/Roboto-BoldItalic-webfont.woff) format("woff"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/bolditalic/Roboto-BoldItalic-webfont.ttf) format("truetype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/bolditalic/Roboto-BoldItalic-webfont.svg#2dumbregular) format("svg"); font-style:italic; font-weight:700 } @font-face{ font-family:Roboto; src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/fonts/roboto/italic/Roboto-Italic-webfont.eot); src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/fonts/roboto/italic/Roboto-Italic-webfont.eot#iefix) format("embedded-opentype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/fonts/roboto/italic/Roboto-Italic-webfont.woff) format("woff"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/fonts/roboto/italic/Roboto-Italic-webfont.ttf) format("truetype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/fonts/roboto/italic/Roboto-Italic-webfont.svg#2dumbregular) format("svg"); font-style:italic; font-weight:normal } @font-face{ font-family:Roboto; src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/light/Roboto-Light-webfont.eot); src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/light/Roboto-Light-webfont.eot#iefix) format("embedded-opentype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/light/Roboto-Light-webfont.woff) format("woff"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/light/Roboto-Light-webfont.ttf) format("truetype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/light/Roboto-Light-webfont.svg#2dumbregular) format("svg"); font-style:normal; font-weight:300 } @font-face{ font-family:Roboto; src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/medium/Roboto-Medium-webfont.eot); src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/medium/Roboto-Medium-webfont.eot#iefix) format("embedded-opentype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/medium/Roboto-Medium-webfont.woff) format("woff"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/medium/Roboto-Medium-webfont.ttf) format("truetype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/medium/Roboto-Medium-webfont.svg#2dumbregular) format("svg"); font-style:normal; font-weight:500 } @font-face{ font-family:Roboto; src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/mediumitalic/Roboto-MediumItalic-webfont.eot); src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/mediumitalic/Roboto-MediumItalic-webfont.eot#iefix) format("embedded-opentype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/mediumitalic/Roboto-MediumItalic-webfont.woff) format("woff"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/mediumitalic/Roboto-MediumItalic-webfont.ttf) format("truetype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/mediumitalic/Roboto-MediumItalic-webfont.svg#2dumbregular) format("svg"); font-style:italic; font-weight:500 } @font-face{ font-family:Roboto; src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/regular/Roboto-Regular-webfont.eot); src:url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/regular/Roboto-Regular-webfont.eot#iefix) format("embedded-opentype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/regular/Roboto-Regular-webfont.woff) format("woff"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/regular/Roboto-Regular-webfont.ttf) format("truetype"),url(https://d2cn40jarzxub5.cloudfront.net/_fonts/fonts/roboto/regular/Roboto-Regular-webfont.svg#2dumbregular) format("svg"); font-style:normal; font-weight:normal };
  --config--main-header-font-weight: 600;
  --config-anchor-base-color: #4eae5aff;
  --config-anchor-base-hover-color: #4eae5aff;
  --config-avatar-notification-background-color: #4eae5aff;
  --config-body-background-color: #fff;
  --config-body-wrapper-background-color: transparent;
  --config-body-wrapper-box-shadow: 0 0 0 transparent;
  --config-body-wrapper-max-width: 100%;
  --config-button-cancel-active-background-color: #DA5C5C;
  --config-button-cancel-active-border-color: #DA5C5C;
  --config-button-cancel-active-color: #fff;  
  --config-button-cancel-background-color: #F76767;
  --config-button-cancel-border-color: #F76767;
  --config-button-cancel-border-radius: 4px;
  --config-button-cancel-border-width: 1px;
  --config-button-cancel-box-shadow: 0 0 0 transparent;
  --config-button-cancel-color: #fff;
  --config-button-cancel-hover-background-color: #DA5C5C;
  --config-button-cancel-hover-border-color: #DA5C5C;
  --config-button-cancel-hover-color: #fff;
  --config-button-cta-active-background-color: #ffffff;
  --config-button-cta-active-border-color: #ffffff;
  --config-button-cta-active-border-width: 1px;
  --config-button-cta-active-box-shadow: 0 0 0 transparent;
  --config-button-cta-active-color: #202124;
  --config-button-cta-background-color: #ffffff;
  --config-button-cta-border-color: #ffffff;
  --config-button-cta-border-radius: 4px;
  --config-button-cta-border-width: 1px;
  --config-button-cta-box-shadow: 0 0 0 transparent;
  --config-button-cta-color: #202124;
  --config-button-cta-focus-background-color: #fafafaff;
  --config-button-cta-focus-border-color: #469c51ff;
  --config-button-cta-focus-border-width: 1px;
  --config-button-cta-focus-color: #202124;
  --config-button-cta-hover-background-color: #ffffff;
  --config-button-cta-hover-border-color: #ffffff;
  --config-button-cta-hover-border-width: 1px;
  --config-button-cta-hover-box-shadow: 0 0 0 transparent;
  --config-button-cta-hover-color: #202124;
  --config-button-cta-spinner-color: #fff;
  --config-button-cta-spinner-hover-color: #fff;
  --config-button-secondary-active-background-color: #ffffff;
  --config-button-secondary-active-border-color: #202124;
  --config-button-secondary-active-border-width: 1px;
  --config-button-secondary-active-box-shadow: 0 0 0 transparent;
  --config-button-secondary-active-color: #202124;
  --config-button-secondary-background-color: #ffffff;
  --config-button-secondary-border-color: #202124;
  --config-button-secondary-border-radius: 4px;
  --config-button-secondary-border-width: 1px;
  --config-button-secondary-box-shadow: 0 0 0 transparent;
  --config-button-secondary-color: #202124;
  --config-button-secondary-focus-background-color: #17173dff;
  --config-button-secondary-focus-border-color: #17173dff;
  --config-button-secondary-focus-border-width: 1px;
  --config-button-secondary-focus-color: #202124;
  --config-button-secondary-hover-background-color: #ffffff;
  --config-button-secondary-hover-border-color: #202124;
  --config-button-secondary-hover-border-width: 1px;
  --config-button-secondary-hover-box-shadow: 0 0 0 transparent;
  --config-button-secondary-hover-color: #202124;
  --config-button-secondary-spinner-color: #fff;
  --config-button-secondary-spinner-hover-color: #fff;
  --config-button-toggle-active-background-color: #5050d666;
  --config-button-toggle-active-border-color: #383A9E;
  --config-button-toggle-active-color: #383A9E;
  --config-button-toggle-background-color: rgba(0,0,0,0);
  --config-button-toggle-border-color: #5050D6;
  --config-button-toggle-border-radius: 4px;
  --config-button-toggle-border-width: 1px;
  --config-button-toggle-box-shadow: 0 0 0 transparent;
  --config-button-toggle-color: #5050D6;
  --config-button-toggle-filled-background-color: #4eae5aff;
  --config-button-toggle-filled-color: #fff;
  --config-button-toggle-filled-pseudo-color: #fff;
  --config-button-toggle-filled-spinner-color: #fff;
  --config-button-toggle-focus-border-color: #469c51ff;
  --config-button-toggle-hover-background-color: #5050d633;
  --config-button-toggle-hover-border-color: #5050D6;
  --config-button-toggle-hover-color: #5050D6;
  --config-button-toggle-on-active-background-color: #fff;
  --config-button-toggle-on-active-border-color: #322c74;
  --config-button-toggle-on-active-color: #322c74;
  --config-button-toggle-on-background-color: #5050D6;
  --config-button-toggle-on-border-color: #5050D6;
  --config-button-toggle-on-border-radius: 4px;
  --config-button-toggle-on-border-width: 1px;
  --config-button-toggle-on-box-shadow: 0 0 0 transparent;
  --config-button-toggle-on-color: #ffffff;
  --config-button-toggle-on-hover-background-color: #fff;
  --config-button-toggle-on-hover-border-color: #5050D6;
  --config-button-toggle-on-hover-color: #322c74;
  --config-button-toggle-outline-background-color: #4eae5aff;
  --config-button-toggle-outline-color: #4eae5aff;
  --config-button-toggle-outline-pseudo-color: #4eae5aff;
  --config-button-toggle-outline-spinner-color: #4eae5aff;
  --config-content-type-article-color: #fff;
  --config-cookie-modal-background-color: rgba(60,60,60,.9);
  --config-cookie-modal-color: #fff;
  --config-create-topic-type-icon-color: #2b3346ff;
  --config-cta-close-button-color: #a7aeb5;
  --config-cta-icon-background-color: #4eae5aff;
  --config-cta-icon-check: #fff;
  --config-editor-comment-toolbar-background-color: #fff;
  --config-editor-comment-toolbar-button-color: #2b3346ff;
  --config-editor-comment-toolbar-button-hover-color: #4eae5aff;
  --config-footer-background-color: #2b3346ff;
  --config-footer-color: #fff;
  --config-header-color: #2b3346ff;
  --config-header-color-inverted: #f5f5f5;
  --config-hero-background-position: top left;
  --config-hero-color: #000000ff;
  --config-hero-font-weight: bold;
  --config-hero-stats-background-color: #fff;
  --config-hero-stats-counter-font-weight: bold;
  --config-hero-text-shadow: none;
  --config-input-focus-color: #4eae5aff;
  --config-link-base-color: #2b3346ff;
  --config-link-base-hover-color: #4eae5aff;
  --config-link-hover-decoration: none;
  --config-main-navigation-background-color: #ffffff;
  --config-main-navigation-border-bottom-color: transparent;
  --config-main-navigation-border-top-color: transparent;
  --config-main-navigation-dropdown-background-color: #fff;
  --config-main-navigation-dropdown-color: #2b3346;
  --config-main-navigation-dropdown-font-weight: normal;
  --config-main-navigation-nav-color: #2b3346ff;
  --config-main-navigation-nav-font-weight: normal;
  --config-main-navigation-nav-link-color: #202124;
  --config-main-navigation-search-placeholder-color: #a7aeb5ff;
  --config-mention-selector-hover-selected-color: #fff;
  --config-meta-link-font-weight: normal;
  --config-meta-link-hover-color: #4eae5aff;
  --config-meta-text-color: #a7aeb5ff;
  --config-notification-widget-background-color: #f79321ff;
  --config-notification-widget-color: #ffffffff;
  --config-pagination-active-page-color: #4eae5aff;
  --config-paging-item-hover-color: #4eae5aff;
  --config-pill-color: #fff;
  --config-powered-by-insided-display: visible;
  --config-profile-user-statistics-background-color: #fff;
  --config-sharpen-fonts: true;
  --config-sidebar-widget-color: #2b3346ff;
  --config-sidebar-widget-font-family: "Open Sans","Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  --config-sidebar-widget-font-weight: 600;
  --config-ssi-header-height: auto;
  --config-ssi-header-mobile-height: auto;
  --config-subcategory-hero-color: #2b3346ff;
  --config-tag-modify-link-color: #4eae5aff;
  --config-tag-pill-background-color: #f8f8f8;
  --config-tag-pill-hover-background-color: #daffe6ff;
  --config-tag-pill-hover-border-color: #4eae5aff;
  --config-tag-pill-hover-color: #4eae5aff;
  --config-thread-list-best-answer-background-color: #3cb54a0d;
  --config-thread-list-best-answer-border-color: #3cb54aff;
  --config-thread-list-mod-break-background: #4eae5a0d;
  --config-thread-list-mod-break-border-color: #4eae5aff;
  --config-thread-list-sticky-topic-background: #4eae5af2;
  --config-thread-list-sticky-topic-border-color: #4eae5aff;
  --config-thread-list-sticky-topic-flag-color: #4eae5aff;
  --config-thread-list-topic-button-subscribe-border-width: 1px;
  --config-thread-list-topic-title-font-weight: bold;
  --config-thread-pill-answer-background-color: #3cb54aff;
  --config-thread-pill-author-background-color: #4eae5aff;
  --config-thread-pill-author-color: #fff;
  --config-thread-pill-question-background-color: #f79321ff;
  --config-thread-pill-question-color: #fff;
  --config-thread-pill-sticky-background-color: #4eae5aff;
  --config-thread-pill-sticky-color: #fff;
  --config-topic-page-answered-field-icon-color: #3cb54aff;
  --config-topic-page-answered-field-link-color: #4eae5aff;
  --config-topic-page-header-font-weight: 600;
  --config-topic-page-post-actions-active: #4eae5aff;
  --config-topic-page-post-actions-icon-color: #a7aeb5;
  --config-topic-page-quote-border-color: #d8dffeff;
  --config-topic-question-color: #f79321ff;
  --config-widget-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
  --config-widget-cta-background-color: #000000ff;
  --config-widget-cta-color: #000000ff;
  --config-widget-tabs-font-weight: normal;
  --config-widget-tabs-forum-list-header-color: #2b3346ff;
  --config-widget-tabs-forum-list-header-hover-color: #4eae5aff;
  --config-card-border-radius: 4px;
  --config-card-border-width: 0px;
  --config-card-background-color: #ffffff;
  --config-card-hover-background-color: #ffffff;
  --config-card-hover-title-color: #2b3346ff;
  --config-card-hover-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  --config-card-active-background-color: #ffffff;
  --config-sidebar-background-color: transparent;
  --config-sidebar-border-color: transparent;
  --config-sidebar-border-radius: 3px;
  --config-sidebar-border-width: 1px;
  --config-sidebar-shadow: 0 0 0 transparent;
  --config-list-views-use-card-theme: 0;
  --config-list-views-card-border-width: 1px;
  --config-list-views-card-border-radius: 5px;
  --config-list-views-card-default-background-color: #ffffff;
  --config-list-views-card-default-title-color: #2b3346ff;
  --config-list-views-card-default-text-color: #2b3346ff;
  --config-list-views-card-default-border-color: #d8dffeff;
  --config-list-views-card-hover-background-color: #ffffff;
  --config-list-views-card-hover-title-color: #2b3346ff;
  --config-list-views-card-hover-text-color: #2b3346ff;
  --config-list-views-card-hover-border-color: #d8dffeff;
  --config-list-views-card-click-background-color: #ffffff;
  --config-list-views-card-click-title-color: #2b3346ff;
  --config-list-views-card-click-text-color: #2b3346ff;
  --config-list-views-card-click-border-color: #d8dffeff;
  --config-sidebar-widget-username-color: #2b3346ff;
  --config-username-hover-color: #5050d6ff;
  --config-username-hover-decoration: none;
  --config-content-type-survey-background-color: #322c75;
  --config-content-type-survey-color: #fff;
  --config-checkbox-checked-color: #322c75;
  --config-content-type-article-background-color: #322c75;
  --config-main-navigation-dropdown-hover-color: #322c75;
  --config-meta-icon-color: #a7aeb5;
  --config-tag-pill-border-color: #e3e4ec;
  --config-tag-pill-color: #2b3346;
  --config-username-color: #322c75;
  --config-widget-tabs-active-border-color: #322c75;
  --config-widgets-action-link-color: #322c75;
  --config-button-border-width: 1px;
  --config-button-border-radius: 4px;
  --config-button-cta-hover-border-radius: 4px;
  --config-button-cta-active-border-radius: 4px;
  --config-button-secondary-hover-border-radius: 4px;
  --config-button-secondary-active-border-radius: 4px;
  --config-button-toggle-hover-border-radius: 4px;
  --config-button-toggle-active-border-radius: 4px;
  --config-button-toggle-on-hover-border-radius: 4px;
  --config-button-toggle-on-active-border-radius: 4px;
  --config-button-cancel-hover-border-radius: 4px;
  --config-button-cancel-active-border-radius: 4px;
  --config-button-toggle-hover-border-width: 1px;
  --config-button-toggle-active-border-width: 1px;
  --config-button-toggle-on-hover-border-width: 1px;
  --config-button-toggle-on-active-border-width: 1px;
  --config-button-cancel-hover-border-width: 1px;
  --config-button-cancel-active-border-width: 1px;
  --config--logo-url: https://uploads-us-west-2.insided.com/google-en/attachment/f19c0236-19ed-4469-9629-23b8718826b9_thumb.png;
  --config--mega-menu-image-url: https://uploads-us-west-2.insided.com/google-en/attachment/ffd625db-fb7a-45c8-a8a8-3d2150e54e9a.jpg;
  --config--favicon-url: https://uploads-us-west-2.insided.com/google-en/attachment/c3e21704-887f-48f0-bf99-1670ca2715b4.png;
}

Let's not worry about the integration with the filtering for now. We can figure that out later. 

The top border I'll get a screenshot of, I forgot. But you'll see it's where the "date" title is on top of the "date box"

